body{
	display:flex;
}
div{
	width:200px;
    height:200px;
}
#Zgoraj{
  background-color:red;
  margin-left:400px;
}
#Levo{
  background-color:magenta;
  margin-top:200px;
  margin-left:-400px;

}
#Center{
  background-color:green;
  margin-top:200px;
}
#Desno{
  background-color:yellow;
  margin-top:200px;
}